In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [2]:
def datetime_to_str(dtime):
    return '{0}-{1}-{2}'.format(str(dtime.month).zfill(2), str(dtime.day).zfill(2), str(dtime.year).zfill(4))
# datetime_to_str(datetime.now())

def datetime_to_str2(dtime):
    return '{0}{1}{2}'.format(str(dtime.year).zfill(4), str(dtime.month).zfill(2), str(dtime.day).zfill(2))
# datetime_to_str2(datetime.now())

In [3]:
ndays=7
now = datetime.now() - timedelta(days=1)

cols = [
    'Total Distributed',
    'Total Administered',
    'Distributed per 100K',
    'Administered per 100K',
    'People with 1+ Doses',
    'People with 1+ Doses per 100K',
    'People with 2 Doses',
    'People with 2 Doses Per 100K',
]

def get_vaccination_data(dtime, col):
    exclude = [
        'Diamond Princess',
        'Grand Princess',
        'American Samoa',
        'Virgin Islands',
        'Northern Mariana Islands'
    ]
    file = 'covid19_vaccinations_in_the_united_states-{0}.csv'.format(datetime_to_str2(dtime))
    df = pd.read_csv('vaccinations/{0}'.format(file),
                     usecols=[ 'State/Territory/Federal Entity', col]).fillna(0)
#     if dtime >= datetime(2021, 2, 5):
#         df.rename(columns={
#                     'State/Territory/Federal Entity': 'State', '{0}'.format(col): datetime_to_str(dtime),
#                     'Total Delivered': 'Total Distributed'
#                   },
#                   inplace=True)
#     else:
    df.rename(columns={ 'State/Territory/Federal Entity': 'State', '{0}'.format(col): datetime_to_str(dtime) }, inplace=True)
    df.set_index(['State'], inplace=True)
    return df

def get_vaccination_timeseries(dtime, col, ndays=5):
    df = get_vaccination_data(dtime, col)
    for days in range(1, ndays+1):
        df_2 = get_vaccination_data(dtime - timedelta(days=days), col)
        df = pd.concat([df_2, df], axis=1, join='inner')
    return df

In [4]:
df = get_vaccination_data(now, col='Total Doses Delivered')
df

                03-07-2021
State
Alaska              426715
Alabama            1628350
Arkansas           1088150
American Samoa       43210
Arizona            2623735
...                    ...
Vermont             261100
Washington         2657880
Wisconsin          1924865
West Virginia       723565
Wyoming             236065

[63 rows x 1 columns]

In [5]:
df.sum()

03-07-2021    122473710
dtype: int64

In [6]:
df = get_vaccination_data(now, col='Total Doses Administered by State where Administered')
df

                03-07-2021
State
Alaska              298144
Alabama            1116676
Arkansas            773357
American Samoa       21625
Arizona            2215219
...                    ...
Vermont             198741
Washington         2213284
Wisconsin          1804918
West Virginia       602407
Wyoming             185580

[63 rows x 1 columns]

In [7]:
df.sum()

03-07-2021    96352425
dtype: int64

In [8]:
df = get_vaccination_timeseries(now, 'Total Doses Delivered', ndays)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,342535,372725,399225,409125,421375,426715,426715,426715
Alabama,1402280,1461320,1469100,1530470,1556460,1628350,1628350,1628350
Arkansas,892660,963040,964840,990640,1064920,1088150,1088150,1088150
American Samoa,29450,29450,29450,38810,43210,43210,43210,43210
Arizona,2148015,2244885,2392275,2453985,2598435,2623735,2623735,2623735
...,...,...,...,...,...,...,...,...
Vermont,206910,227350,230850,246000,253300,261100,261100,261100
Washington,2245010,2443300,2517210,2572750,2628620,2657880,2657880,2657880
Wisconsin,1588665,1814215,1863155,1876225,1895165,1924765,1924865,1924865
West Virginia,605255,644595,652465,659465,680665,723565,723565,723565
Wyoming,195855,211415,217215,224885,236065,236065,236065,236065

In [9]:
df = get_vaccination_timeseries(now, 'Total Doses Administered by State where Administered', ndays)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,268406,269941,273350,276891,281467,288625,295046,298144
Alabama,948393,972161,1000031,1032171,1064578,1099697,1110132,1116676
Arkansas,661572,670815,687433,704368,723756,744139,765260,773357
American Samoa,20338,21079,21079,21625,21625,21625,21625,21625
Arizona,1849259,1889742,1930999,1979929,2038623,2043739,2162602,2215219
...,...,...,...,...,...,...,...,...
Vermont,168050,171557,173179,175767,179580,184327,191529,198741
Washington,1800030,1841160,1888198,1942877,2001032,2071467,2143916,2213284
Wisconsin,1500923,1521200,1553270,1596290,1656753,1721352,1770069,1804918
West Virginia,534053,536534,541453,553449,574473,594118,601440,602407
Wyoming,156741,156776,162918,163194,166712,177496,178035,185580

In [10]:
df = get_vaccination_timeseries(now, 'People with 1+ Doses by State of Residence', ndays)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,168069,168646,170586,172414,174588,178237,180948,182230
Alabama,653309,663187,674810,688791,704173,721109,727681,732967
Arkansas,425567,431866,442371,452615,464641,477127,489149,494761
American Samoa,12355,13028,13029,13467,13468,13468,13469,13469
Arizona,1244879,1262868,1277294,1298827,1325003,1328642,1388900,1416598
...,...,...,...,...,...,...,...,...
Vermont,107238,109213,110313,111890,114893,118292,122891,126974
Washington,1166618,1186560,1210794,1243596,1276221,1321095,1367009,1411252
Wisconsin,971107,984053,1001656,1024560,1059657,1098730,1128307,1150440
West Virginia,318168,319813,322461,330737,345274,358305,363429,363952
Wyoming,99880,99916,103398,103497,104955,110594,110971,114824

In [11]:
df = get_vaccination_timeseries(now, 'People with 2 Doses by State of Residence', ndays)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,99916,100902,102382,104129,106558,110053,113787,115633
Alabama,316073,330046,346841,365456,383078,402061,406723,408318
Arkansas,233685,236706,242999,249956,257367,265226,274376,277102
American Samoa,8080,8142,8142,8252,8252,8252,8252,8253
Arizona,555881,575562,601274,627446,658220,662235,715023,737536
...,...,...,...,...,...,...,...,...
Vermont,56934,58448,58977,59938,60708,61961,64474,67478
Washington,621171,642362,664542,686099,711273,736314,762728,787532
Wisconsin,517730,525277,539106,558736,583220,607958,627022,639217
West Virginia,206179,207129,209451,213203,219837,226593,229046,229736
Wyoming,54518,54562,57093,57249,59185,64192,64499,67854

In [12]:
df = get_vaccination_timeseries(now, 'Total Doses Delivered', ndays).diff(axis=1).fillna(0)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,0.0,30190.0,26500.0,9900.0,12250.0,5340.0,0.0,0.0
Alabama,0.0,59040.0,7780.0,61370.0,25990.0,71890.0,0.0,0.0
Arkansas,0.0,70380.0,1800.0,25800.0,74280.0,23230.0,0.0,0.0
American Samoa,0.0,0.0,0.0,9360.0,4400.0,0.0,0.0,0.0
Arizona,0.0,96870.0,147390.0,61710.0,144450.0,25300.0,0.0,0.0
...,...,...,...,...,...,...,...,...
Vermont,0.0,20440.0,3500.0,15150.0,7300.0,7800.0,0.0,0.0
Washington,0.0,198290.0,73910.0,55540.0,55870.0,29260.0,0.0,0.0
Wisconsin,0.0,225550.0,48940.0,13070.0,18940.0,29600.0,100.0,0.0
West Virginia,0.0,39340.0,7870.0,7000.0,21200.0,42900.0,0.0,0.0
Wyoming,0.0,15560.0,5800.0,7670.0,11180.0,0.0,0.0,0.0

In [13]:
df = get_vaccination_timeseries(now, 'Total Doses Administered by State where Administered', ndays).diff(axis=1).fillna(0)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,0.0,1535.0,3409.0,3541.0,4576.0,7158.0,6421.0,3098.0
Alabama,0.0,23768.0,27870.0,32140.0,32407.0,35119.0,10435.0,6544.0
Arkansas,0.0,9243.0,16618.0,16935.0,19388.0,20383.0,21121.0,8097.0
American Samoa,0.0,741.0,0.0,546.0,0.0,0.0,0.0,0.0
Arizona,0.0,40483.0,41257.0,48930.0,58694.0,5116.0,118863.0,52617.0
...,...,...,...,...,...,...,...,...
Vermont,0.0,3507.0,1622.0,2588.0,3813.0,4747.0,7202.0,7212.0
Washington,0.0,41130.0,47038.0,54679.0,58155.0,70435.0,72449.0,69368.0
Wisconsin,0.0,20277.0,32070.0,43020.0,60463.0,64599.0,48717.0,34849.0
West Virginia,0.0,2481.0,4919.0,11996.0,21024.0,19645.0,7322.0,967.0
Wyoming,0.0,35.0,6142.0,276.0,3518.0,10784.0,539.0,7545.0

In [14]:
df = get_vaccination_timeseries(now, 'People with 1+ Doses by State of Residence', ndays).diff(axis=1).fillna(0)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,0.0,577.0,1940.0,1828.0,2174.0,3649.0,2711.0,1282.0
Alabama,0.0,9878.0,11623.0,13981.0,15382.0,16936.0,6572.0,5286.0
Arkansas,0.0,6299.0,10505.0,10244.0,12026.0,12486.0,12022.0,5612.0
American Samoa,0.0,673.0,1.0,438.0,1.0,0.0,1.0,0.0
Arizona,0.0,17989.0,14426.0,21533.0,26176.0,3639.0,60258.0,27698.0
...,...,...,...,...,...,...,...,...
Vermont,0.0,1975.0,1100.0,1577.0,3003.0,3399.0,4599.0,4083.0
Washington,0.0,19942.0,24234.0,32802.0,32625.0,44874.0,45914.0,44243.0
Wisconsin,0.0,12946.0,17603.0,22904.0,35097.0,39073.0,29577.0,22133.0
West Virginia,0.0,1645.0,2648.0,8276.0,14537.0,13031.0,5124.0,523.0
Wyoming,0.0,36.0,3482.0,99.0,1458.0,5639.0,377.0,3853.0

In [15]:
df = get_vaccination_timeseries(now, 'People with 2 Doses by State of Residence', ndays).diff(axis=1).fillna(0)
df

,02-28-2021,03-01-2021,03-02-2021,03-03-2021,03-04-2021,03-05-2021,03-06-2021,03-07-2021
State,,,,,,,,
Alaska,0.0,986.0,1480.0,1747.0,2429.0,3495.0,3734.0,1846.0
Alabama,0.0,13973.0,16795.0,18615.0,17622.0,18983.0,4662.0,1595.0
Arkansas,0.0,3021.0,6293.0,6957.0,7411.0,7859.0,9150.0,2726.0
American Samoa,0.0,62.0,0.0,110.0,0.0,0.0,0.0,1.0
Arizona,0.0,19681.0,25712.0,26172.0,30774.0,4015.0,52788.0,22513.0
...,...,...,...,...,...,...,...,...
Vermont,0.0,1514.0,529.0,961.0,770.0,1253.0,2513.0,3004.0
Washington,0.0,21191.0,22180.0,21557.0,25174.0,25041.0,26414.0,24804.0
Wisconsin,0.0,7547.0,13829.0,19630.0,24484.0,24738.0,19064.0,12195.0
West Virginia,0.0,950.0,2322.0,3752.0,6634.0,6756.0,2453.0,690.0
Wyoming,0.0,44.0,2531.0,156.0,1936.0,5007.0,307.0,3355.0

In [16]:
df = get_vaccination_timeseries(now, 'Total Doses Delivered', ndays).sum(axis=0).diff().fillna(0)
df

02-28-2021          0.0
03-01-2021    6154410.0
03-02-2021    4864640.0
03-03-2021    3514360.0
03-04-2021    4298605.0
03-05-2021    2258420.0
03-06-2021       8000.0
03-07-2021      15210.0
dtype: float64

In [17]:
df = get_vaccination_timeseries(now, 'Total Doses Administered by State where Administered', ndays).sum(axis=0).diff().fillna(0)
df

02-28-2021          0.0
03-01-2021    1757841.0
03-02-2021    1984130.0
03-03-2021    2124031.0
03-04-2021    2535228.0
03-05-2021    3012371.0
03-06-2021    2540886.0
03-07-2021    1807936.0
dtype: float64

In [18]:
df = get_vaccination_timeseries(now, 'Total Doses Delivered', ndays).diff(axis=1).fillna(0)
df.loc['Connecticut']

02-28-2021        0.0
03-01-2021    83440.0
03-02-2021    27290.0
03-03-2021    36370.0
03-04-2021    75450.0
03-05-2021    13520.0
03-06-2021        0.0
03-07-2021        0.0
Name: Connecticut, dtype: float64

In [19]:
df = get_vaccination_timeseries(now, 'Total Doses Administered by State where Administered', ndays).diff(axis=1).fillna(0)
df.loc['Connecticut']

02-28-2021        0.0
03-01-2021     8849.0
03-02-2021    21221.0
03-03-2021    25938.0
03-04-2021    34204.0
03-05-2021    35597.0
03-06-2021    38503.0
03-07-2021    33248.0
Name: Connecticut, dtype: float64

In [20]:
df = get_vaccination_timeseries(now, 'People with 1+ Doses by State of Residence', ndays).diff(axis=1).fillna(0)
df.loc['Connecticut']

02-28-2021        0.0
03-01-2021     7196.0
03-02-2021    17277.0
03-03-2021    22854.0
03-04-2021    30337.0
03-05-2021    32067.0
03-06-2021    33942.0
03-07-2021    27640.0
Name: Connecticut, dtype: float64

In [21]:
df = get_vaccination_timeseries(now, 'People with 2 Doses by State of Residence', ndays).diff(axis=1).fillna(0)
df.loc['Connecticut']

02-28-2021       0.0
03-01-2021    1611.0
03-02-2021    3819.0
03-03-2021    3003.0
03-04-2021    3517.0
03-05-2021    3459.0
03-06-2021    4438.0
03-07-2021    5665.0
Name: Connecticut, dtype: float64